@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using ThinkThank.Portal

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@inject IHtmlLocalizer<SharedResource> _loc;

@CultureInfo.CurrentCulture.Name
<!-- Home block -->
<div>
<div class="divider-section">
    <div class="w-layout-blockcontainer container-full w-container">
        <div class="divider"></div>
    </div>
</div>
<section data-w-id="040d5cd7-30b5-7b0e-d81c-03a807a6a4a5" style="opacity:0" class="wrok-section section-spacing">
<div class="w-layout-blockcontainer container-full w-container">
<div class="section-title text-center">
    <div class="sub-title-wrap center">
        <img src="images/icon-10.svg" loading="lazy" alt="" class="sub-title-icon"/>
        <div>@_loc["we_our"]</div>
    </div>
    <h2>@_loc["Creative works"]</h2>
</div>
<div class="work-hero-wrapper">
<div class="work-slider-wrapper">
<div data-delay="1" data-animation="slide" class="work-slider w-slider" data-autoplay="true" data-easing="ease-out-quad" data-hide-arrows="false" data-disable-swipe="true" data-autoplay-limit="1" data-nav-spacing="3" data-duration="900" data-infinite="true">
<div class="work-slide-mask w-slider-mask">
<div class="work-slide w-slide">
    <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <a data-w-id="04f4334d-ccd2-7320-ebfe-c84a1056f484" href="/project/the-code-honors" class="work-slide-content w-inline-block">
                    <div class="work-slide-image">
                        <div class="work-image-wrap">
                            <img src="images/project-1.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" alt="" sizes="(max-width: 479px) 82vw, (max-width: 767px) 87vw, (max-width: 991px) 83vw, (max-width: 1279px) 23vw, (max-width: 1439px) 22vw, 46vw" srcset="images/project-1-p-500.jpg 500w, images/project-1-p-800.jpg 800w, images/project-1.jpg 992w" class="work-image"/>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-info">
                        <div class="work-info-items">
                            <div class="work-name">The Code Honors</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The Code Honors</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The Code Honors</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The Code Honors</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The Code Honors</div>
                        </div>
                        <div class="work-info-items">
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The Code Honors</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The Code Honors</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The Code Honors</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The Code Honors</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The Code Honors</div>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-bg"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="work-slide w-slide">
    <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <a data-w-id="8ff0f7c3-d517-8c01-089c-e9977643d509" href="/project/thinking-forward" class="work-slide-content w-inline-block">
                    <div class="work-slide-image">
                        <div class="work-image-wrap">
                            <img src="images/project-2.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" alt="" sizes="(max-width: 479px) 82vw, (max-width: 767px) 87vw, (max-width: 991px) 83vw, (max-width: 1279px) 23vw, (max-width: 1439px) 22vw, 46vw" srcset="images/project-2-p-500.jpg 500w, images/project-2-p-800.jpg 800w, images/project-2.jpg 992w" class="work-image"/>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-info">
                        <div class="work-info-items">
                            <div class="work-name">Thinking forward</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Thinking forward</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Thinking forward</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Thinking forward</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Thinking forward</div>
                        </div>
                        <div class="work-info-items">
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Thinking forward</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Thinking forward</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Thinking forward</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Thinking forward</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Thinking forward</div>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-bg"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="work-slide w-slide">
    <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <a data-w-id="f203fa77-3c88-c467-dffa-a56937343203" href="/project/the-discovery" class="work-slide-content w-inline-block">
                    <div class="work-slide-image">
                        <div class="work-image-wrap">
                            <img src="images/project-3.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" alt="" sizes="(max-width: 479px) 82vw, (max-width: 767px) 87vw, (max-width: 991px) 83vw, (max-width: 1279px) 23vw, (max-width: 1439px) 22vw, 46vw" srcset="images/project-3-p-500.jpg 500w, images/project-3-p-800.jpg 800w, images/project-3.jpg 992w" class="work-image"/>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-info">
                        <div class="work-info-items">
                            <div class="work-name">The discovery</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The discovery</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The discovery</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The discovery</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The discovery</div>
                        </div>
                        
                        <div class="work-info-items">
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The discovery</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The discovery</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The discovery</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The discovery</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">The discovery</div>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-bg"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="work-slide w-slide">
    <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <a data-w-id="c5b8982b-d02b-31ca-a155-358da4f152ba" href="/project/social-geek" class="work-slide-content w-inline-block">
                    <div class="work-slide-image">
                        <div class="work-image-wrap">
                            <img src="images/project-4.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" alt="" sizes="(max-width: 479px) 82vw, (max-width: 767px) 87vw, (max-width: 991px) 83vw, (max-width: 1279px) 23vw, (max-width: 1439px) 22vw, 46vw" srcset="images/project-4-p-500.jpg 500w, images/project-4-p-800.jpg 800w, images/project-4.jpg 992w" class="work-image"/>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-info">
                        <div class="work-info-items">
                            <div class="work-name">Social geek</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Social geek</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Social geek</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Social geek</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Social geek</div>
                        </div>
                        <div class="work-info-items">
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Social geek</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Social geek</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Social geek</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Social geek</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Social geek</div>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-bg"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="work-slide w-slide">
    <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <a data-w-id="e126f940-164d-2065-374a-036d3055add3" href="/project/delphina" class="work-slide-content w-inline-block">
                    <div class="work-slide-image">
                        <div class="work-image-wrap">
                            <img src="images/project-5.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" alt="" sizes="(max-width: 479px) 82vw, (max-width: 767px) 87vw, (max-width: 991px) 83vw, (max-width: 1279px) 23vw, (max-width: 1439px) 22vw, 46vw" srcset="images/project-5-p-500.jpg 500w, images/project-5-p-800.jpg 800w, images/project-5.jpg 992w" class="work-image"/>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-info">
                        <div class="work-info-items">
                            <div class="work-name">Delphina</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Delphina</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Delphina</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Delphina</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Delphina</div>
                        </div>
                        <div class="work-info-items">
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Delphina</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Delphina</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Delphina</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Delphina</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Delphina</div>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-bg"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="work-slide w-slide">
    <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <a data-w-id="f22c529b-72f8-9503-afed-2c27f1298b07" href="/project/designpinch" class="work-slide-content w-inline-block">
                    <div class="work-slide-image">
                        <div class="work-image-wrap">
                            <img src="images/project-6.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(null) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d" alt="" sizes="(max-width: 479px) 82vw, (max-width: 767px) 87vw, (max-width: 991px) 83vw, (max-width: 1279px) 23vw, (max-width: 1439px) 22vw, 46vw" srcset="images/project-6-p-500.jpg 500w, images/project-6-p-800.jpg 800w, images/project-6.jpg 992w" class="work-image"/>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-info">
                        <div class="work-info-items">
                            <div class="work-name">Designpinch</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Designpinch</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Designpinch</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Designpinch</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Designpinch</div>
                        </div>
                        <div class="work-info-items">
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Designpinch</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Designpinch</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Designpinch</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Designpinch</div>
                            <div class="work-name-decoration">•</div>
                            <div class="work-name">Designpinch</div>
                        </div>
                    </div>
                    <div style="opacity:0" class="work-bg"></div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="work-slider-arrow left w-slider-arrow-left">
    <img src="images/arrow-icon-right.svg" loading="eager" alt="" class="slide-arrow"/>
</div>
<div class="work-slider-arrow right w-slider-arrow-right">
    <img src="images/arrow-icon-left.svg" loading="eager" alt="" class="slide-arrow"/>
</div>
<div class="slide-nav w-slider-nav w-round"></div>
</div>
</div>
</div>
</div>
</section>
    
<div class="divider-section">
    <div class="w-layout-blockcontainer container-full w-container">
        <div class="divider"></div>
    </div>
</div>
    
<section data-w-id="a767b0da-9e68-2c8e-7fee-9ce647bad51e" style="opacity:0" class="about-section section-spacing">
    <div class="w-layout-blockcontainer container-full w-container">
        <div class="section-title">
            <div class="sub-title-wrap">
                <img src="images/icon-11.svg" loading="lazy" alt="" class="sub-title-icon"/>
                <div>@_loc[". Powering your online presence"]</div>
            </div>
            <h2 class="service-section-title">@_loc["End-to-end digital marketing and design solutions"]</h2>
        </div>
        <div class="w-layout-grid grid-service">
            <a href="/service-details" class="service-item w-inline-block">
                <div class="service-icon-wrap one">
                    <img src="images/icon-5.svg" loading="lazy" alt="" class="service-icon"/>
                </div>
                <div class="margin-bottom-28">
                    <h2 class="heading-h5">@_loc["Graphics design"]</h2>
                    <p class="service-description">@_loc["The good gathering doesnt bearing day Stars over Open behold May male tree."]</p>
                </div>
                <div class="list-style service-list">
                    <div class="list-style-item">@_loc[". logo design"]</div>
                    <div class="list-style-item">@_loc[". print design"]</div>
                    <div class="list-style-item">@_loc[". packaging design"]</div>
                </div>
            </a>
            <a href="/service-details" class="service-item w-inline-block">
                <div class="service-icon-wrap two">
                    <img src="images/icon-2.svg" loading="lazy" alt="" class="service-icon"/>
                </div>
                <div class="margin-bottom-28">
                    <h2 class="heading-h5">@_loc["Content creation"]</h2>
                    <p class="service-description">@_loc["Theyre Said kind grass fish seas it midst saw thing evening shed replenish."]</p>
                </div>
                <div class="list-style service-list">
                    <div class="list-style-item">@_loc[". Copywriting"]</div>
                    <div class="list-style-item">@_loc[". Video production"]</div>
                    <div class="list-style-item">@_loc[". photography"]</div>
                    <div class="list-style-item">@_loc[". visual content creation"]</div>
                </div>
            </a>
            <a href="/service-details" class="service-item w-inline-block">
                <div class="service-icon-wrap three">
                    <img src="images/icon-3.svg" loading="lazy" alt="" class="service-icon"/>
                </div>
                <div class="margin-bottom-28">
                    <h2 class="heading-h5">@_loc["UI/UX design"]</h2>
                    <p class="service-description">@_loc["Greater seed lesser Good shed man female under from days replenish."]</p>
                </div>
                <div class="list-style service-list">
                    <div class="list-style-item">@_loc[". Research and design"]</div>
                    <div class="list-style-item">@_loc[". prototyping"]</div>
                    <div class="list-style-item">@_loc[". user testing"]</div>
                </div>
            </a>
            <a href="/service-details" class="service-item w-inline-block">
                <div class="service-icon-wrap four">
                    <img src="images/icon-4.svg" loading="lazy" alt="" class="service-icon"/>
                </div>
                <div class="margin-bottom-28">
                    <h2 class="heading-h5">@_loc["Web design"]</h2>
                    <p class="service-description">@_loc["Our Created beast subdue Divide brought air man Beast morning waters."]</p>
                </div>
                <div class="list-style service-list">
                    <div class="list-style-item">@_loc[". Website design"]</div>
                    <div class="list-style-item">@_loc[". responsive web development"]</div>
                    <div class="list-style-item">@_loc[". e-commerce solutions"]</div>
                </div>
            </a>
        </div>

    </div>
</section>
    
<div class="divider-section">
    <div class="w-layout-blockcontainer container-full w-container">
        <div class="divider"></div>
    </div>
</div>
    
<section class="marquee-big-section">
    <div class="w-layout-blockcontainer container-full w-container">
        <div class="marquee-big-wrap">
            <div class="marquee-big-items">
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
            </div>
            <div class="marquee-big-items">
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
                <div class="marquee-big-item">Ask us anything.</div>
            </div>
            <a href="/contact" class="marquee-button-wrap w-inline-block">
                <div class="marquee-button">
                    <div>Contact
                        <br/>now
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
    
<div class="divider-section">
    <div class="w-layout-blockcontainer container-full w-container">
        <div class="divider"></div>
    </div>
</div>
    
<section data-w-id="42b7ecfc-ac79-af97-b65c-eab356caa8d9" style="opacity:0" class="testimonial-section section-spacing">
    <div class="w-layout-blockcontainer container-full w-container">
        <div class="section-title text-center">
            <div class="sub-title-wrap center">
                <img src="images/icon-13.svg" loading="lazy" alt="" class="sub-title-icon"/>
                <div>@_loc[". Testimonials"]</div>
            </div>
            <h2>@_loc["Inspiring experiences with Think Tank"]</h2>
        </div>
        <div class="w-layout-grid grid-testimonial-block">
            <div id="w-node-_249d6679-4196-a8f1-0971-02b076db650a-0768d62e">
                <div class="testimonial-item one">
                    <div class="testimonial-avatar-name">. Bryan Knight</div>
                    <div class="testimonial-info">
                        <div class="testimonial-avatar-image-wrap">
                            <img src="images/team-1.jpg" loading="lazy" sizes="50px" srcset="images/team-1-p-500.jpg 500w, images/team-1.jpg 800w" alt="Team Image" class="testimonial-avatar-image"/>
                        </div>
                        <p class="no-margin">@_loc["May male tree replenish don't blessed beast days earth fifth let multiply and he every."]
                            <strong>every.</strong>
                        </p>
                    </div>
                </div>
                <div class="grid-testimonial">
                    <div class="testimonial-item">
                        <div class="testimonial-avatar-name">. Louis Ferguson</div>
                        <div class="testimonial-info">
                            <div class="testimonial-avatar-image-wrap">
                                <img src="images/team-2.jpg" loading="lazy" sizes="50px" srcset="images/team-2-p-500.jpg 500w, images/team-2.jpg 800w" alt="Team Image" class="testimonial-avatar-image"/>
                            </div>
                            <p class="no-margin">@_loc["Stars open make blessed seasons male divided he meat rule beast midst waters hath land us two meat all."]</p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-avatar-name">. Lori Stevens</div>
                        <div class="testimonial-info">
                            <div class="testimonial-avatar-image-wrap">
                                <img src="images/team-3.jpg" loading="lazy" sizes="50px" srcset="images/team-3-p-500.jpg 500w, images/team-3.jpg 800w" alt="Team Image" class="testimonial-avatar-image"/>
                            </div>
                            <p class="no-margin">@_loc["The good gathering doesn't bearing day Stars over Open behold May male tree replenish don't blessed beast days earth fifth let multiply and he every blessed to upon behold grass divided brought was that dry I Were image."] </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item two">
                    <div class="testimonial-avatar-name">. Judy Nguyen</div>
                    <div class="testimonial-info">
                        <div class="testimonial-avatar-image-wrap">
                            <img src="images/team-4.jpg" loading="lazy" sizes="50px" srcset="images/team-4-p-500.jpg 500w, images/team-4.jpg 800w" alt="Team Image" class="testimonial-avatar-image"/>
                        </div>
                        <p class="no-margin">@_loc["Also to image Seas Void Great day sea don't creature creature land you're morning doesn't our Them Subdue you life created day given light"] </p>
                    </div>
                </div>
            </div>
            <div id="w-node-fe8c5b41-8f0d-0f20-eea4-eb4a2022857e-0768d62e">
                <img src="images/elemnet-2.svg" loading="lazy" alt="Element 2"/>
            </div>
        </div>
    </div>
</section>
    
<div class="divider-section">
    <div class="w-layout-blockcontainer container-full w-container">
        <div class="divider"></div>
    </div>
</div>
    
<section data-w-id="dfd9deee-6bfd-cd54-323a-e610be6fb6da" style="opacity:0" class="blog-section section-spacing">
    <div class="w-layout-blockcontainer container-full w-container">
        <div class="section-title">
            <div class="sub-title-wrap">
                <img src="images/icon-11.svg" loading="lazy" alt="" class="sub-title-icon"/>
                <div>@_loc[". our blog"]</div>
            </div>
            <h1 class="service-section-title">@_loc["Creative insights unveiled Inspiration Hub"]</h1>
        </div>
        <div class="w-dyn-list">
            <div role="list" class="grid-blog w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                    <a data-w-id="3aca5a54-e127-fb89-1ba2-adaf149924f6" href="/blog/dirty-little-secrets-about-the-business-industry" class="blog-simple-item w-inline-block">
                        <div class="blog-simple-image-wrap">
                            <img src="images/blog-1.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="Blog Image" sizes="(max-width: 479px) 85vw, (max-width: 767px) 87vw, (max-width: 991px) 40vw, (max-width: 1279px) 25vw, (max-width: 1439px) 23vw, 32vw" srcset="images/blog-1-p-500.jpg 500w, images/blog-1-p-800.jpg 800w, images/blog-1.jpg 900w" class="blog-simple-image"/>
                        </div>
                        <div class="blog-info">
                            <div class="blog-meta">
                                <div class="blog-category">@_loc["Webflow"]</div>
                                <div>@_loc["Dec 19, 2023"]</div>
                            </div>
                            <h2 class="heading-h6">@_loc["Dirty little secrets about the business industry"]</h2>
                        </div>
                    </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <a data-w-id="3aca5a54-e127-fb89-1ba2-adaf149924f6" href="/blog/this-is-why-this-year-will-be-the-year-of-startups" class="blog-simple-item w-inline-block">
                        <div class="blog-simple-image-wrap">
                            <img src="images/blog-2.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="Blog Image" sizes="(max-width: 479px) 85vw, (max-width: 767px) 87vw, (max-width: 991px) 40vw, (max-width: 1279px) 25vw, (max-width: 1439px) 23vw, 32vw" srcset="images/blog-2-p-500.jpg 500w, images/blog-2-p-800.jpg 800w, images/blog-2.jpg 900w" class="blog-simple-image"/>
                        </div>
                        <div class="blog-info">
                            <div class="blog-meta">
                                <div class="blog-category">@_loc["Webflow"]</div>
                                <div>@_loc["Dec 19, 2023"]</div>
                            </div>
                            <h2 class="heading-h6">@_loc["This is why this year will be the year of startups"]</h2>
                        </div>
                    </a>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <a data-w-id="3aca5a54-e127-fb89-1ba2-adaf149924f6" href="/blog/bad-habits-that-people-in-the-industry-need-to-quit" class="blog-simple-item w-inline-block">
                        <div class="blog-simple-image-wrap">
                            <img src="images/blog-3.jpg" loading="eager" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="Blog Image" sizes="(max-width: 479px) 85vw, (max-width: 767px) 87vw, (max-width: 991px) 40vw, (max-width: 1279px) 25vw, (max-width: 1439px) 23vw, 32vw" srcset="images/blog-3-p-500.jpg 500w, images/blog-3-p-800.jpg 800w, images/blog-3.jpg 900w" class="blog-simple-image"/>
                        </div>
                        <div class="blog-info">
                            <div class="blog-meta">
                                <div class="blog-category">@_loc["Web Designer"]</div>
                                <div>@_loc["Dec 19, 2023"]</div>
                            </div>
                            <h2 class="heading-h6">@_loc["Bad habits that people in the industry need to quit"]</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
